body {
  font-family: Lucida Sans, san-serif;
  margin: 0;
  padding: 100px 40px;
}

.class {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: black;
}

.h1 {
  font-family: Impact, sans-serif;
  font-size: 2rem;
  color: black;
}

.h2 {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: black;
}

.container {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c1,
.c2,
.c3 {
  color: rgb(7, 23, 101);
}

.button {
  display: flex;
  flex-direction: row;
  padding: 10px;
  column-gap: 20px;
  justify-content: flex-start;
  font-size: 1em;
  color: black;
}

.holes {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(153, 114, 78, 0.187);
}

.hole {
  background: rgb(41, 155, 187);
  width: 200px;
  aspect-ratio: 1/1;
  border: 3px solid rgb(7, 23, 101);
}

.fish {
  background: url("https://cdn-icons-png.flaticon.com/512/9986/9986238.png")
    no-repeat;
  background-size: 100px;
  position: relative;
  transition: all 0.4s ease;
}
