body {
  background-image: url(/seaphoto.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Pacifico", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  padding: 10px 40px;
}

#t1 {
  font-size: 2.5rem;
  color: rgb(255, 196, 58);
  text-shadow: 3px 3px 0 black, -1px -1px 0 black;
}

.h1 {
  font-family: "Pacifico", sans-serif;
  font-size: 50px;
  color: rgb(29, 178, 184);
}

.h2 {
  font-family: "Pacifico", sans-serif;
  font-size: 1rem;
  color: black;
}

.container {
  width: 60%;
  background-color: rgba(153, 114, 78, 0.187);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container2 {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 3em;
}

.c1,
.c2,
.c3 {
  color: rgb(7, 23, 101);
}

.button {
  display: flex;
  flex-direction: row;
  padding: 10px;
  column-gap: 20px;
  justify-content: flex-start;
  font-size: 1em;
  color: black;
}

.button-start,
.button-pause,
.button-reset {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-start:hover,
.button-pause:hover,
.button-reset:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-start:focus,
.button-pause:focus,
.button-reset:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.instructions {
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 5fr;
  font-family: "Pacifico", sans-serif;
  font-size: 1rem;
  color: rgb(6, 32, 101);
  margin-left: 1em;
}

.holes {
  width: 50%;
  min-width: 500px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 7fr;
  background-color: rgba(153, 114, 78, 0.187);
}

.hole {
  background: rgb(41, 155, 187);
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid rgb(7, 23, 101);
}

.fish {
  background: url("https://cdn-icons-png.flaticon.com/512/9986/9986238.png")
    no-repeat;
  content: "fish-image";
  background-size: contain;
  display: block;
  position: relative;
  transition: all 0.5s linear;
}
